:host {
  background-color: #333;
  width: 100vw;
  height: 100vh;
  display: block;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: white;
  margin: 0;
  width: 500px;
  height: 500px;
}