mat-radio-group {
  margin: 16px 0;
}

button:not(:last-child) {
  margin-right: 8px;
}

.example-radio-group {
  display: flex;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

input[type="radio" i] {
  position: absolute;
}