:host {
  background-color: #333;
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: white;
}
